* {
    --font-primary: Syne;
    --font-secondary: "B612 Mono", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-image: url(./assets/images/bgport.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e0fffb;
    background-size: cover;
    min-height: 100vh;
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.span-header {
    font-family: syne;
    font-weight: 400;
}
