* {
    --font-primary: Syne;
    --font-secondary: "B612 Mono", monospace;
    --color-green: #d8fd38;
    --color-base: #2d2e32;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    color: #fff;
    background-image: url(./assets/images/bgport.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-base);
    background-size: cover;
    min-height: 97vh;
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.span-header {
    font-family: var(--font-primary);
    font-weight: 400;
    filter: drop-shadow();
}

.span-green {
    color: var(--color-green);
}

.navbar {
    display: flex;
    position: absolute;
    gap: 3rem;
    right: 0;
    top: 90px;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    max-width: 1.5rem;
    min-height: 70vh;
    margin-inline: 1rem;
    margin-block: auto;
}

.navbar-item {
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotateZ(180deg);
}

.banner-img {
    max-width: clamp(400px, 40vh, 800px);
}

.experience {
    margin-inline: auto;
    gap: 2rem;
    max-width: 80vw;
    min-height: 30vh;
}

.skill-shadow::after {
    content: "SKILLS";
    color: #ffffff15;
    position: absolute;
    margin-left: -205px;
    margin-top: -15px;
    font-size: 3.2rem;
    letter-spacing: 10px;
    font-family: var(--font-primary);
    font-weight: 800;
}

.projects-shadow::after {
    content: "PROJECTS";
    color: #ffffff15;
    position: absolute;
    margin-left: -320px;
    margin-top: -15px;
    font-size: 3.2rem;
    letter-spacing: 10.5px;
    font-family: var(--font-primary);
    font-weight: 800;
}

.exp-shadow::after {
    content: "EXPERIENCE";
    color: #ffffff15;
    position: absolute;
    margin-left: -345px;
    margin-top: -15px;
    font-size: 3.2rem;
    letter-spacing: 1px;
    font-family: var(--font-primary);
    font-weight: 800;
}

.chart {
    display: flex;
    flex-flow: column nowrap;
    background-image: url(./assets/icons/chart.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 80vw;
    gap: 10vw;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

.right-exp {
    text-align: right;
}
.left-exp {
    text-align: left;
}

.card-img {
    max-width: 7rem;
    min-width: 7rem;
    min-height: 7rem;
    margin-inline: auto;
}

.skills-bar {
    max-width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.skills-container {
    display: flex;
    animation: scroll 30s linear 0s infinite;
}

.skills-slider {
    margin-left: 5.5rem;
    display: flex;
    gap: 5.5rem;
    max-width: 100%;
}

.skill-card {
    box-shadow: 0px 10px 20px 0px #00000080;
    scroll-margin-inline: 1rem;
    scroll-snap-align: start;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    min-height: 13rem;
    min-width: 13rem;
    border-radius: 1.8rem;
    margin-block: 3rem;
}

.project-card {
    border: 1px solid #d8fd3890;
    border-radius: 30px;
    display: flex;
    background-position: center;
    background-color: #303030;
    background-size: cover;
    background-blend-mode: multiply;
    transition: all 0.4s ease-in-out;
    align-items: center;
}

.project-card:hover,
.project-card:focus > * {
    background-color: rgba(112, 112, 112, 0.9);
    color: transparent;
    scale: 1.05;
}

.card-text {
    color: #fff;
    justify-content: space-between;
}

span {
    color: #d8fd38;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
